body{
    margin: 0%;
    padding: 0%;
    font-family: 'Lato', sans-serif; 
}

/* navbar section */
#navbar{
    background-color: rgba(237, 17, 17, 0.062);
    height: 70px;
    width: 100%;
    text-align: end;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
}

#nav-logo{
    font-size: 0.5rem;
    padding: 1%;
    margin: 1%;
    font-family: cursive;
 }

 #navbar a{
    text-decoration: none;
    color: rgba(17, 18, 18, 0.995);
    padding: 10px;
    margin: 10px;
}

#navbar a:hover{
    color: black;
    background-color:white;
    border-radius: 20px;
}

/* main section CSS */

body{
    background-color: rgb(255, 255, 255);
}
#main-container{
     margin: 50px;
     display: grid;
     grid-template-columns:repeat(3, 27%) ;
     grid-template-rows:repeat(3,10%);
}

.P-item{
    border: 1px solid white;
    width: 250px;
    height: 290px;
    background-color: white;
    margin: 20px;
    padding-top: 30px;
}

button{
    background-color: white;
    color: green;
    border: 1px solid green;
    margin-left: 130px;
    border-radius: 6px;
    padding: 6px;
    margin-top: 20px;
}

button:hover{
    background-color: beige;
    cursor: pointer;
}

.P-item h3{
   margin: 3px;
}

.P-item p{
    margin: 3px;
    font-size: small;
    margin: 10px;
 }

 .P-item h4{
    margin: 3px;
    font-size: medium;
    margin: 3px;
 }


 /* Footer section  */

 .footer {
  background-color: black;
 height: 430px;
}

.footer .wrapper {
  display: flex;
  justify-content: space-around;
}

.footer .items p {
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 4px;
  color: whitesmoke;
}

.items a{
  color: whitesmoke;
  text-decoration: none;
}
.wrapper .items ul li {
  list-style-type: none;
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
  color: white;
  opacity: 0.7;
  padding: 6% 0%;
}

.wrapper .item1 {
  padding-top: 100px;
}

.wrapper .item2 {
  padding-top: 10px
}


.wrapper .items ul {
  padding: 0;
}



  

