body{
    margin: 0%;
    padding: 0%;
    font-family: 'Lato', sans-serif;
    
}

/* navbar section */
#navbar{
    background-color: rgba(237, 17, 17, 0.062);
    height: 70px;
    width: 100%;
    text-align: end;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
}

#nav-logo{
    font-size: 0.5rem;
    padding: 1%;
    margin: 1%;
    font-family: cursive;
 }
#navbar a{
    text-decoration: none;
    color: rgba(17, 18, 18, 0.995);
    padding: 10px;
    margin: 10px;
}

#navbar a:hover{
    color: black;
    background-color:white;
    border-radius: 20px;
}

/* main section  */
#container{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
}
#container .content{
 padding-top: 50px;
 margin: 30px;
 background-color: white;
 border: 1px solid whitesmoke;
 margin: 50px;
 width: 350px;
}

.content a{
   text-decoration: none;
   color: black;
}

.nonveg-content{
    padding-top: 50px;
    margin: 30px;
    background-color: white;
    border: 1px solid whitesmoke;
    margin: 50px;
    width: 350px;
}
.nonveg-content a{
    text-decoration: none;
    color: black;
 }
 #main-container h2{
    text-align: center;
 }

 #main-container .heading{
    padding-top: 90px;
    font-size: 2.5rem;
 }


 /* Footer section  */

 .footer {
  background-color: black;
 height: 430px;
}

.footer .wrapper {
  display: flex;
  justify-content: space-around;
}

.footer .items p {
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 4px;
  color: whitesmoke;
}

.items a{
  color: whitesmoke;
  text-decoration: none;
}
.wrapper .items ul li {
  list-style-type: none;
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
  color: white;
  opacity: 0.7;
  padding: 6% 0%;
}

.wrapper .item1 {
  padding-top: 100px;
}

.wrapper .item2 {
  padding-top: 10px
}


.wrapper .items ul {
  padding: 0;
}



  
  
    

